{
  "client_id": "abc",
  "client_secret": "xyz",
  "user_agent": "tap-linkedin-ads <api_user_email@your_company.com>",
  "refresh_token": "xyz",
  "accounts":"null",
  "start_date": "2019-01-01T00:00:00Z",
  "request_timeout": 300
}